# Dependencies
node_modules/
server/scratch/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Coverage
coverage/

# Render
.render